<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641358260927-9bou8ju2qho252ld1inr94ne5dqmgagk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641358260927-9bou8ju2qho252ld1inr94ne5dqmgagk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>641358260927-99ebp5sqf359r8cav921ffoupms5eg2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfWiq5qaU9c676nVeFoZiy5IQRLULYe0U</string>
	<key>GCM_SENDER_ID</key>
	<string>641358260927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alhadidy.mars</string>
	<key>PROJECT_ID</key>
	<string>mars-coffee</string>
	<key>STORAGE_BUCKET</key>
	<string>mars-coffee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641358260927:ios:0f6609884561ee738f340a</string>
</dict>
</plist>